@font-face {
    font-family: 'MatchaMilkDemo';
    src: url('MatchaMilkDemoRegular.woff2') format('woff2'),
        url('MatchaMilkDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

